.t-advertisement {
  height: 3rem !important;
  width: 13rem;
  background-color: $white;
  position: relative;
  margin: 0 .5rem;
  overflow: hidden;
  a {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    color: $black;
    font-weight: 600;

    p {
      display: block;
      position: absolute;
      height: 3rem;
      width: 13rem;
      text-align: center;
      letter-spacing: 0.08em;
      padding: .5rem;
      color: $blue;
      b {
        font-weight: 700;
      }
      i {
        font-size: 2rem;
        color: $white;
      }
    }

    p:nth-child(1) {
      opacity: 0;
      background-color: $sub-color;
      color: $white;
      transform: rotateX(90deg);
      transform-origin: 50% 50% -28px;
      transition: all .3s;
    }

    p:nth-child(2) {
      opacity: 1;
      line-height: 2rem;
      background-color: transparent;
      transform: rotateX(0deg);
      transform-origin: 50% 50% -28px;
      transition: all .3s;
    }
  }

  &:hover {
    a {
      p:nth-child(1) {
        opacity: 1;
        transform: rotateX(0deg);
      }
      p:nth-child(2) {
        opacity: 0;  
        background-color: $sub-color;
        transform: rotateX(-90deg);
      }
    }
  }
 
  /************************* BREAK-POINT *************************/

  @include breakpoint-down( xl ) {
    display: none;
  }
}
