.button-icon {
    display: flex;
    align-items: center;

    &--menu {
        @include fontawesome-solid-before( $fa-var-align-right ) {
            color: $white;
            font-size: 1.5rem;
            background-color: $sub-color;
            padding: 0.5rem;
            border-radius: .3rem;
        }
    }

    &--ship {
        height: 40px;
        width: 35px;
        margin: 0px 10px;
        background-image: url("../images/shipping.svg");
        filter: invert(0.4) sepia(0) saturate(0) hue-rotate(0deg) brightness(1);
        background-color: transparent;
        background-position: 0px 0px;
        background-repeat: no-repeat;
        background-size: 35px;
        &:hover {
            background-image: url("../images/shipping_hover.svg");
            filter: unset;
        }
    }

    &--contact {
        height: 40px;
        width: 35px;
        margin: 0px 10px;
        background-image: url("../images/support.svg");
        filter: invert(0.4) sepia(0) saturate(0) hue-rotate(0deg) brightness(1);
        background-color: transparent;
        background-position: 0px 0px;
        background-repeat: no-repeat;
        background-size: 35px;
        &:hover {
            background-image: url("../images/support_hover.svg");
            filter: unset;
        }
    }

    &--search {
        background-image: url("../images/search.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #ffffff;
        background-size: 17px;
        border: 0;
        color: $white;
        float: left;
        font-size: 0;
        height: 40px;
        margin: 0;
        padding: 0;
        right: auto;
        width: 40px;
        border-radius: 0px;
    }

    &--cart {
        background-image: url("../images/icon.svg");
        background-color: rgba(0, 0, 0, 0);
        background-position: 0px 0px;
        background-repeat: no-repeat;
        background-size: 2.5rem;
        box-sizing: border-box;
        height: 2.5rem;
        width: 2.5rem;
        position: relative;
        margin: 0 0.5rem;
        content: "";
        display: inline-block;
        vertical-align: top;
    }

    &--search {
        background: rgba(0, 0, 0, 0) url("../images/header-search-icon.png") no-repeat scroll right 10px;
        bottom: auto;
        cursor: pointer;
        font-size: 0;
        height: 42px;
        padding: 0;
        vertical-align: top;
        width: 30px;
    }

    span {
      color: $white;
      font-size: 1.3rem;
      font-weight: 600;
    }
}