// Product Content [cth]
.t-product-carousel {
  &__body {
    position: relative;

    &:hover {
      .t-product-carousel__nav {
        .owl-prev {
          opacity: 1;
        }
        .owl-next {
          opacity: 1;
        }
      }
    }

    > ul {
      margin: 0 !important;
    }
  }

  &__product {
    width: 100% !important;
    list-style: none;
    a {
      color: $color-text2;
      text-decoration: none;
      img {
        margin: 0 auto;
        height: auto;
        max-width: 100%;
      }
      span.onsale {
        position: absolute;
        z-index: 1;
        background-color: $orange;
        color: $white;
        height: 1.5rem;
        min-height: 1.5rem;
        width: 3rem;
        min-width: 3rem;
        font-weight: 500;
        font-size: 0.8rem;
        line-height: 0.4rem;
        padding: 0.5rem;
        border-radius: 0.2rem;
        text-align: center;
        left: 0.8rem;
        top: 0.8rem;
      }
    }

    &:hover & {
      &-simage {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
      }
      &-buttons {
        opacity: 1;
      }
    }
  }

  &__product-inner {
    position: relative;
    padding: 2rem 1rem;

    &:after {
      content: "";
      right: -.1rem;
      top: 2rem;
      background: $border-color2;
      bottom: 30%;
      width: 1px;
      position: absolute;
    }
  }

  &__product-simage {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease;
    max-width: 100%;
    height: auto;
    transform: scale(0);
    transform-origin: center center;
  }

  &__product-detail {
    min-height: 7.5rem;
    margin: .5rem;
    text-align: left;
    position: relative;

    a {
      text-decoration: none;
    }

    
    .star-rating {
      float: left;
    }
  }

  &__product-title {
    margin: 0;
    text-decoration: none;
    line-height: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.2rem 0 1rem;
    color: $color-text3;
    text-transform: capitalize;
  }

  &__product-price {
    display: flex;
    // justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;

    del {
      order: 2;
      text-decoration: none;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        background-color: $color-text4;
        height: 0.1rem;
        left: 0;
        top: 50%;
        transform: translate(0, 50%);
      }

      span {
        color: $color-text4;
        font-weight: 400;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
      }
    }

    ins {
      text-decoration: none;
      margin-right: 0.5rem;
      span {
        color: $blue;
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-weight: 700;
      }
    }

    > span {
      color: $blue;
      font-size: 1.2rem;
      font-weight: 700;
      > span {
        font-size: 1.2rem;
        font-weight: 700;
        text-decoration: none;
        margin-right: 0.5rem;
      }
    }
  }

  &__product-buttons {
    opacity: 0;
    transition: all .3s ease;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: $white;
    color: $black;
    z-index: 5;
    line-height: 0 !important;

    a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart,
    a.button.product_type_variable.add_to_cart_button {
      @extend %buttonContentProductWoo;

      @include fontawesome-brands-before($fa-var-shopping-cart) {
       @extend %faShoppingCartStyle;
      }
    }

    a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart.loading {
      @extend %buttonContentProductWoo;

      &:before {
        content: '';
        font-family: unset;
        font-weight: unset;
      }
      &:after {
        animation: spin .5s infinite linear;
        border: .1rem solid #fff;
        border-radius: 100%;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        content: "";
        display: inline-block;
        height: 1.1rem;
        width: 1.1rem;
        top: 27%;
        position: absolute;
        right: 27%;
      }
    }

    a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart.added {
      @extend %buttonContentProductWoo;

      @include fontawesome-brands-before($fa-var-check) {
        @extend %faShoppingCartStyle;
        pointer-events: none;
        background-color: $light-blue !important;
      }
      &:after {
        all: unset;
      }
    }

    a.added_to_cart.wc-forward {
      @extend %buttonContentProductWoo;

      @include fontawesome-brands-before($fa-var-eye) {
        @extend %faShoppingCartStyle;
      }
    }

    a.button.product_type_simple {
      @extend %buttonContentProductWoo;

      @include fontawesome-brands-before($fa-var-eye) {
        @extend %faShoppingCartStyle;
      }
    }
  }

  &__nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    .owl-prev {
      left: 1rem;
      right: auto;
      top: 35%;
      background-color: $white;
      display: block;
      font-size: 1rem;
      color: $light-gray;
      height: 2.8rem;
      width: 2.8rem;
      line-height: 2.8rem;
      position: absolute;
      text-align: center;
      opacity: 0;
      border: $border;
      border-radius: 50%;
      z-index: 100;
      transition: opacity .5s ease;
    }

    .owl-next {
      right: 1rem;
      left: auto;
      top: 35%;
      background-color: $white;
      display: block;
      font-size: 1rem;
      color: $light-gray;
      height: 2.8rem;
      width: 2.8rem;
      line-height: 2.8rem;
      position: absolute;
      text-align: center;
      opacity: 0;
      border: $border;
      border-radius: 50%;
      z-index: 100;
      transition: opacity .5s ease;
    }
  }
}

// Mini Cart
ul.product_list_widget {
  padding: .5rem;
  max-height: 230px;
  overflow: hidden;

  &:hover {
    overflow-y: auto;
  }
}

ul.cart_list { 
  li.mini_cart_item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 0 15px;
    list-style: none;
    position: relative;
    text-align: left;
    padding: 8px 0;
  }

  li {
    a {
      font-family: $montserrat;
      display: flex;
      align-items: center;;
      overflow: hidden;
      margin-bottom: .1rem;
      line-height: 1.3rem;
      text-decoration: none;
      text-transform: capitalize;
      color: $black;
      font-weight: 500;

      &:after {
        clear: both;
      }
    }

    a.remove {
      position: absolute;
      display: block;
      right: 0;
      top: .5rem;
      color: $black;
      background-color: $white;
      font-size: 1.5rem;
      margin: 0px;
      text-indent: 0;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      line-height: 20px;
      text-align: center;
    }
  }

  .quantity {
    color: $color-text3;
    line-height: 2rem;
    margin: 0 .5rem 0 auto;
  }
}

ul.product_list_widget,
ul.cart_list {
  li {
    img {
      border: 1px solid #ededed;
      border-radius: .5rem;
      float: left;
      max-width: 100%;
      margin-right: 1rem;
      height: auto;
      object-fit: cover;
    }
  }
}

.woocommerce-mini-cart__total.total {
  border-top: 1px solid #ebebeb;
  margin: 10px 0 0;
  padding: 10px 0;
  text-align: right;
  strong {
    float: left;
  }
}

.button.wc-forward,
.button.checkout.wc-forward {
  display: inline-block;
  vertical-align: top;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  background-color: rgb(39,54,71);
  color: #FFFFFF;
  cursor: pointer;
  &:hover {
    background-color: rgb(254,189,105);
    color: #000000;
  }
}

// Notice 
.woocommerce-notices-wrapper {
  .woocommerce-message {
    border-top-color: $primary-color;
    display: flex;
    justify-content: space-between;
    padding: 1em 1em 1em 3.5em !important;
    margin: 0 0 3em !important;
    position: relative;
    background: $white;
    border: $border4;
    color: #808080;
    a.button.wc-forward {
      order: 3;
      background-color: $orange;
      color: $black;
      padding: 1rem 1.6rem;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      font-size: .9rem;
      font-weight: 600;
      width: auto;
      border: none;
      border-radius: .2rem;
      cursor: pointer;
      display: unset;
    }

    &:before {
      background-color: $black;
      content: "\2713";
      height: 2.6rem;
      width: 1.5rem;
      display: block;
      position: absolute;
      top: 0;
      left: 1em;
      font-size: 1em;
      line-height: 1.5;
      color: $white;
      text-align: center;
      padding-top: 1em;
    }
  }
}

// breadcrumb
.woocommerce-breadcrumb {
  border-bottom: 0px;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  font-family: $montserrat;
  color: $black;
  font-weight: 500;
  font-size: 0.9rem;

  a {
    font-family: $montserrat;
    position: relative;
    color: $black !important;
    padding: 0 0.1rem;
    font-weight: 500;
    font-size: 0.9rem;
    text-decoration: none;
  }
}