.t-blog-carousel {
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }

  &__body {
    position: relative;
  }
  
  &__left {
    display: flex;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 3%;

    img {
      transform: scale( 1 );
      width: 100%;
      max-height: 12rem;
      min-height: 12rem;
      transition: transform .7s ease;
      object-fit: cover;
    }

    &:before{
      content: "";
      background-color: rgba( 0, 0 ,0 , 0.5);
      width: 100%;
      transition: opacity .7s ease;
      height: 100%;
      position: absolute;
      z-index: 1;
      opacity: 0;
    }

    &:hover {
      img {
        transform: scale( 1.03 );
      }
      &:before {
        opacity: 1;
      }
    }

    &-mark {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -5px;
      margin-left: -22px;
      text-align: center;
      font-size: 0;
      z-index: 2;
  
      span,
      &:before,
      &:after {
        display: inline-block;
        margin-right: 7px;
        width: .7rem;
        height: .7rem;
        border-radius: 50%;
        background-color: $white;
        vertical-align: middle;
        opacity: 0;
        transition: opacity .2s ease;
        transition-delay: 0s;
        animation-delay: 0s;
        animation: t-fadeOutRight .3s ease;
      }
  
      &:before {
        transition-delay: .15s;
        animation-delay: .15s;
      }
  
      span {
        transition-delay: .1s;
        animation-delay: .1s;
      }
  
      &:after {
        margin-right: 0;
      }
  
      &:after, 
      &:before {
        content: "";
      }
    }

    &:hover &{
      &-mark {
        &:before {
          transition-delay: .2s;
          animation-delay: .2s !important;
          opacity: 1;
          animation: t-fadeInLeft .3s ease;
        }

        span {
          transition-delay: .1s;
          animation-delay: .1s !important;
          opacity: 1;
          animation: t-fadeInLeft .3s ease;
        }
        
        &:after {
          opacity: 1;
          animation: t-fadeInLeft .3s ease;
        }
      }
    }
  }

  &__title {
    a {
      color: $blue;
      font-size: 1.3rem;
      font-weight: 700;
      text-transform: capitalize;
      text-decoration: none;
    }
  }

  &__date {
    color: $color-text5;
    font-size: 1rem;
  }

  &__excerpt {
    line-height: 1.5rem;
    font-size: 1rem;
    color: $color-text6;
    margin-top: 1.4rem;
  }

  &__nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    .owl-prev {
      cursor: pointer;
      left: auto;
      right: 2.2rem;
      top: -37%;
      display: block;
      font-size: 1rem;
      color: $black;
      line-height: 2.8rem;
      position: absolute;
      opacity: 1;
      z-index: 100;
    }
    .owl-next {
      cursor: pointer;
      left: auto;
      right: .5rem;
      top: -37%;
      display: block;
      font-size: 1rem;
      color: $black;
      line-height: 2.8rem;
      position: absolute;
      opacity: 1;
      z-index: 100;
    }
  }
}