footer.t-footer {
    clear: both;
    background-color: $blue;
}

footer {
    .footer-top {
        padding: 3rem 0 2.5rem 0;

        .t-widget-footer {
            display: flex;
            flex-direction: row;

            &__title {
               @extend %format-title;
            }

            &__image {
                padding-bottom: .5rem;
            }

            &__caption {
                color: $color-text7;
                font-size: .9rem;
                padding-bottom: 1.5rem !important;
            }

            &__contact-address,
            &__contact-phone,
            &__contact-email {
               @extend %format-contact;
            }

            &__title {
                @extend %format-title;
            }

            &__item {
                ul {
                    list-style: none;
                    margin: 0;
                    li {
                        a {
                            display: block;
                            text-decoration: none;
                            transition: color .1s ease;
                            @extend %format-contact;

                            &:hover {
                                color: $orange;
                            }
                        }
                    }
                }
            }

            &__col-5 {
                position: relative;
                padding-right: 1.5rem;

                &:nth-child(1) {
                    flex: 0 0 30%;
                }
                &:nth-child(2) {
                    flex: 0 0 25%;
                }
                &:nth-child(3) {
                    flex: 0 0 15%;
                }
                &:nth-child(4) {
                    flex: 0 0 15%;
                    
                }
                &:last-child {
                    flex: 0 0 15%;
                    padding-right: 0;
                }

                a {
                    @extend %format-contact;
                    transition: color .1s ease;
                    cursor: pointer;

                    &:hover {
                        color: $orange;
                    }
                }
            }

            &__contact {
                line-height: 1.5rem;
                i {
                    padding-right: .5rem;
                    font-size: .9rem;
                }

                &-address,
                &-phone,
                &-email {
                    cursor: pointer;
                    transition: color .1s ease;

                    &:hover{
                        color: $orange;
                    }
                }
            }

            &__recent-post {
                li {
                    display: grid;   
                    grid-template-columns: 3fr 7fr;
                    grid-column-gap: .2rem;
                    color: $color-text7;
                    font-size: .9rem;
                    margin-bottom: 1rem;
                    padding-bottom: 1rem;
                    &:not(:last-child) {
                        border-bottom: 1px solid #4b5561;
                    }
                }

                a {
                    color: $color-text7;
                    padding: 0 !important;
                }

                &-thumbnail {
                   img {
                       border-radius: .5rem;
                   }
                }

                &-info {
                    color: $color-text7;
                }

                &-title {
                    font-weight: 600;
                    margin-bottom: .3rem;
                }

                &-meta {
                    display: flex;
                    color: $color-text8;
                    font-size: .9rem;

                    a {
                        font-size: .9rem;
                        color: $color-text3;
                    }
                }
            }
        }
    }
    .footer-bottom {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        border-top: 1px solid $light-blue;
        padding: 1rem 0;
        text-align: center;

        &__inner {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }

        &__copyright {
            color: $color-text7;
            font-weight: 600;
            font-size: .9rem;
        }

        &__payment {
            img {
                width:  14rem;
            }
        }
    }
}