.t-menu {
  &__list {
    max-width: 55rem;
    margin: 0 auto;
  }

  &__item {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;

    a {
      display: block;
      position: relative;
      padding: 1.5rem .8rem;
      text-decoration: none;
      color: $white;
      font-size: 1rem;
      font-weight: 500;
    }
  }

  &__item--active a {
    color: $orange;
  }

  &__dropdown-inner {
    position: absolute;
    padding: 30px 40px;
    height: auto !important;
    background-color: $white;
    box-shadow: $box-shadow;
    opacity: 0;
    visibility: hidden;
    // transform: translateY( 20px );
    transition: all 0.4s ease;
    z-index: 9999;
    li {
      display: block;
      min-width: 100px;
      a {
        color: $black;
        padding: 5px 0;
      }
    }
  }

  &__dropdown {
    &:hover & {
      &-inner {
        opacity: 1;
        visibility: visible;
        // transform: translateY( 0px );
      }
    }
  }

  // Mega menu
  // &__megamenu {
  // }

  &__megamenu-inner {
    display: flex;
    min-width: 160px;
    top: 100%;
    position: absolute;
    height: auto !important;
    background-color: $white;
    box-shadow: 0px 2px 11px 3px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    // transform: translateY( 20px );
    transition: all 0.4s ease;
    z-index: 9999;
    li {
      display: block;
      a {
        font-weight: 400;
        color: #273647;
        padding: 5px 0;
        display: flex;
        align-items: center;
      }
    }
  }

  &__megamenu-col {
    padding: 30px 40px;
    min-width: 250px;
    float: left;
    height: auto !important;
  }

  &__megamenu {
    &:hover & {
      &-inner {
        opacity: 1;
        visibility: visible;
        // transform: translateY( 0px );
      }
    }
  }

  &__divider {
    margin: 0.5rem 0;
    width: 80%;
    background-color: #e3e3e3;
    height: 0.1rem;
  }

  /************************* BREAK-POINT *************************/

  @include breakpoint-down(xl) {
    display: none;
  }


}
